.main {
    /* background-color: red; */
    height: 80vh;
    background-position: center left 10px;
    background-size: 6% 65%;
    background-repeat: no-repeat;
    background-image: url("../../assets/creative.png");
      position: relative;
  }

  .hero {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      /* transform: translateY(-146px) */
      position: relative;
  }

  .hero .heroImg {
      width: 51%;
      height: 1100px;
      transform: translateY(-150px);
  }

  .heroText {
      padding-left: 100px;
  }

  .heroText  img {
      width: 50px;
      padding-right: 16px;
  }

  .heroText .creative {
    font-size: 80px;
    font-weight: inherit;
    width: 490px;
    height: 190px;
    padding-top: 220px;
    margin: 0;
    line-height: 0.8;
    color: var(--c-blue);
  }

  .video span {
      color: #000964;
  }


  .video {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }

  .whitten {
    box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.97);
    border-color: rgba(255, 255, 255, 1);
  }
