html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 24px;
}

:root {
  --c-blue: rgb(80, 46, 255);
  --c-white: #FFFFFF;
  --bg: #4C84FF;
  --fade: #BEBEBE;
}

.btn-primary {
  border-radius: 34px;
  background: var(--c-blue);
  color: var(--c-white);
  margin-top: 24px;
}